<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_RemoteService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:49494/RemoteService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_RemoteService" contract="LumenisRemoteService.RemoteService"
          name="NetTcpBinding_RemoteService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>