<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <!--<serviceBehaviors>
                <behavior name="LumenisRemoteService.RemoteServiceBehavior">
                    <serviceMetadata httpGetEnabled="false"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>-->
        </behaviors>
        <services>
            <service name="LumenisRemoteService.RemoteService" >
                <endpoint name="NetTcpBinding_RemoteService" address="ppool" binding="netTcpBinding" contract="LumenisRemoteService.IRemoteService">
                    <!--<identity>
                        <dns value="localhost"/>
                    </identity>-->
                </endpoint>
                <!--<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>-->
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://10.11.135.159:49494/RemoteService"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
