<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <netNamedPipeBinding>
          <binding name="NetNamedPipeBinding_RemoteService"/>
        </netNamedPipeBinding>
      </bindings>
        <behaviors>
            <!--<serviceBehaviors>
                <behavior name="LumenisRemoteService.RemoteServiceBehavior">
                    <serviceMetadata httpGetEnabled="false"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>-->
        </behaviors>
        <services>
            <service name="LumenisRemoteService.RemoteService">
                <endpoint name="NetNamedPipeBinding_RemoteService" address="ppool" binding="netNamedPipeBinding" contract="Interfaces.IRemoteService">
                    <!--<identity>
                        <dns value="localhost"/>
                    </identity>-->
                </endpoint>
                <!--<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>-->
                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://localhost/RemoteService"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
      <!--<client>
        <endpoint  address="net.pipe://localhost/RemoteService/ppool" binding="netNamedPipeBinding"
            bindingConfiguration="NetNamedPipeBinding_RemoteService" contract="Interfaces.IRemoteService"
            name="NetNamedPipeBinding_RemoteService">
        </endpoint>
      </client>-->
    </system.serviceModel>
   <appSettings>
    <add key="SessionSampelingCounter" value="24" /> <!--the max counter value of the SessionSampelingInterval. by multiplying those value you get the max timeout value-->
     <add key="SessionSampelingInterval" value="5" /><!--the session status sampling tick timer interval. recommended to 5 (5 seconds)-->
     <add key="MonitoredProcessName" value="ScreenConnect Client"/>
     <!--sdfgdsg-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
